@charset "UTF-8";

body {
    text-align: center;
}

input {
    font-size: 200%;
}

p, button {
    font-size: 150%;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 150%;
    list-style-type: none;
}
